{% extends "base.html.twig" %}
{% block body %}
    {% trans %}You are about to quit following recruitment:{% endtrans %}<br>
    {% trans %}Recruitment:{% endtrans %} {{ timeCell.recruitment.name }}<br>
    {% trans %}Weekday:{% endtrans %} {{ timeCell.recruitment.timeTableColumns[timeCell.columnNumber - 1] }}<br>
    {% trans %}Time:{% endtrans %} {{ timeCell.recruitment.timeTableRows[timeCell.rowNumber - 1] }}<br>
    {% trans %}Confirm this?{% endtrans %}<br>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <button onclick="history.go(-1)">{% trans %}Cancel{% endtrans %}</button>
{% endblock %}