{% extends "base.html.twig" %}

{% block body %}
    {% for state, records in data %}
        <h2>{{ state }}</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Location</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Reason</th>
                </tr>
            </thead>
            <tbody>
                {% for record in records %}
                    <tr>
                        <td>{{ record.name }}</td>
                        <td>{{ record.startTime | date("Y/m/d H:i:s") }}</td>
                        <td>{{ record.endTime | date("Y/m/d H:i:s") }}</td>
                        <td>{{ record.reason }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
{% endblock %}