{% extends "base.html.twig" %}
{% block body %}
    {% trans %}Student Number:{% endtrans %} {{ user.studentNumber }}<br>
    {% trans %}Name:{% endtrans %} {{ user.name }}<br>
    {% trans %}Phone Number:{% endtrans %} {{ user.phoneNumber }}<br>
    {% trans %}College:{% endtrans %} {{ user.college }}<br>
    {% trans %}Room Number:{% endtrans %} {{ user.roomNumber }}<br>
    {% trans %}Applied Time Cells:{% endtrans %} <br>
    {% for timeCell in user.appliedTimeCells %}
        <a href="{{ path('timecell_show', {'id': timeCell.id}) }}">
            {{ timeCell.recruitment.name }},
            {{ timeCell.recruitment.timeTableRows[timeCell.rowNumber - 1] }},
            {{ timeCell.recruitment.timeTableColumns[timeCell.columnNumber - 1] }}
        </a><br>
    {% endfor %}
{% endblock %}